<div class="container">
  <div class="row clearfix ">
    <h2>Smack it up</h2>
    <%= react_component('CommentBoard', url: get_comments_path, post: post_comments_path, pollInterval: 3000) %>
  </div>
</div>
