<div class="row clearfix">
	<div class="col-md-9 column">
		<div class="jumbotron">
			<h1> Welcome to Footbawwl </h1>
			<p>
				This is the great place to do a fantasy football shit
			</p>
			<p>
				<a class="btn btn-primary btn-large" href="#">Something?</a>
			</p>
		</div>
	</div>
	<div class="col-md-3 column">
		<form role="form">
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1">
			</div>
			<button type="submit" class="btn btn-default">
				Login
			</button>
			<button type="register" class="btn">
				Register
			</button>
		</form>
	</div>
</div>
<div class="row clearfix">
	<div class="col-md-6 column">
		<h3> League Standings </h3>
	</div>
	<div class="col-md-6 column">
		<h3> Head to Head Standings </h3>
	</div>
</div>
<div class="row clearfix">
	<div class="col-md-6 column">
		<table class="table">
			<thead>
				<tr>
					<th> # </th>
					<th> Product </th>
					<th> Payment Taken </th>
					<th> Status </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> 1 </td>
					<td> TB - Monthly </td>
					<td> 01/04/2012 </td>
					<td> Default </td>
				</tr>
				<tr class="active">
					<td> 1 </td>
					<td> TB - Monthly </td>
					<td> 01/04/2012 </td>
					<td> Approved </td>
				</tr>
				<tr class="success">
					<td> 2 </td>
					<td> TB - Monthly </td>
					<td> 02/04/2012 </td>
					<td> Declined </td>
				</tr>
				<tr class="warning">
					<td> 3 </td>
					<td> TB - Monthly </td>
					<td> 03/04/2012 </td>
					<td> Pending </td>
				</tr>
				<tr class="danger">
					<td> 4 </td>
					<td> TB - Monthly </td>
					<td> 04/04/2012 </td>
					<td> Call in to confirm </td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6 column">
		<table class="table">
			<thead>
				<tr>
					<th>User</th>
					<th>Team Name</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
				<tr>
					<td><%= link_to user.name, controller: :user, action: :show, user_id: user.id %></td>
					<td><%= user.team_name %></td>
					<td><%= user.points %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 id="fixture-header"> Upcoming Fixtures </h3>
			<div class="row clearfix">
				<div class="col-md-3 column col-md-offset-2">
					<span title="View previous week" class="glyphicon glyphicon-arrow-left arrow"></span>
				</div>
				<div class="col-md-4 column fixture-label">
					<h3 id="week_label" title="Week ">Week #X</h3>
				</div>
				<div class="col-md-3 column">
					<span title="View next week" class="glyphicon glyphicon-arrow-right arrow"></span>
				</div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th> # </th>
						<th> Product </th>
						<th> Payment Taken </th>
						<th> Status </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> 1 </td>
						<td> TB - Monthly </td>
						<td> 01/04/2012 </td>
						<td> Default </td>
					</tr>
					<tr class="active">
						<td> 1 </td>
						<td> TB - Monthly </td>
						<td> 01/04/2012 </td>
						<td> Approved </td>
					</tr>
					<tr class="success">
						<td> 2 </td>
						<td> TB - Monthly </td>
						<td> 02/04/2012 </td>
						<td> Declined </td>
					</tr>
					<tr class="warning">
						<td> 3 </td>
						<td> TB - Monthly </td>
						<td> 03/04/2012 </td>
						<td> Pending </td>
					</tr>
					<tr class="danger">
						<td> 4 </td>
						<td> TB - Monthly </td>
						<td> 04/04/2012 </td>
						<td> Call in to confirm </td>
					</tr>
				</tbody>
			</table>
			<ul class="pagination">
				<li>
					<a href="#">Prev</a>
				</li>
				<li>
					<a href="#">1</a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li>
					<a href="#">Next</a>
				</li>
			</ul>
		</div>
	</div>
</div>
