.pending-transfer-table{
  margin-top:2em;
  margin-bottom:3em;
}

.completed-transfer-table{
  margin-top:2em;
}

#my-action{
  margin-bottom:2em;
}

#my-action h3{
  margin-bottom:1em;
}

.incoming { 
  margin-bottom:1em;
}

.action {
  margin-left:1.5em;
}

.actionable-transfers{
  margin-bottom:1em;
  margin-left:2.5em;
  width:70%;
}
.modal-header h3 { width: 90% }


