// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#fixture-header {
  margin-bottom:1.5em;
}

.right-arrow {
  float:right;
}

.arrow {
  font-size:2.2em;
  cursor:pointer;
}

.fixture-label {
  margin-top:-1em;
}

.player-name{
  font-size:110%;
  
}

.first-select{
  background:#daf6b5;
}

.second-select{
  background:#2d95b7;
}

.swap-player-btn{
  margin-top:1.5em;
  float:right;
}

.player-info{
  color:grey;
  font-size:90%;
}

.team-name{
  margin-left:1.5em;
}
.team-points{
  margin-left:3em;
  margin-bottom:2em;
}

.week-points-label{
  display:block;
  height: 100%;
  margin: 0.8em;
  color:#777;
}

.active-roster{
  border-right: 2px solid #eee;
  border-left: 2px solid #eee;
}

.benched{
  border-right: 2px solid #eee;
  border-left: 2px solid #eee;
}

.add-btn{
  margin-left:0.3em;
  margin-top:0.3em; 
}

#adminBox{
  margin-bottom:2em;
}

#bloodhound{
  margin-top:1em;
}

#left-Box{
  float:left;
  width:45%;
  margin-bottom:3em;
}

#right-Box{
  float:right;
  width:45%;
  margin-bottom:3em;
}

#stat-detail table{
  display:none;
  position:relative;
  border: 1px solid black;
  overflow:hidden;
  border-radius: 5px;    
  border-radius: 5px; 
}

#stat-detail td{
  border:1px solid black;
}

.player-stat {
  width:25%;
  background:#eee;
}

.point-stats{
  cursor:default; 
}