// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#fixture-header {
  margin-bottom:1.5em;
}

.right-arrow {
  float:right;
}

.arrow {
  font-size:2.2em;
  cursor:pointer;
}

.fixture-label {
  margin-top:-1em;
}